  body { 
    background-color: #181818;
    font-family: 'Karla', sans-serif;
    color: #F4F4F4;
  }

  body.arabic {
    text-align: right;
  }

  .arrow {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: .8;
    background-color: #181818;
    background-size: 20px 20px, cover;
  }

  #up.arrow {
    top: 20px;
    background-image: url("img/up.svg");
    background-repeat: no-repeat;
    background-position:  5px 5px;
  }

  #down.arrow {
    bottom: 20px;
    background-image: url("img/down.svg");
    background-repeat: no-repeat;
    background-position:  5px 5px;
  }

  /* intro */
  .intro {
    padding: 100px 50px;
    text-align: center;
  }

  .intro a {
    color: #fff;
  }

  .intro h1 {
    font-weight: bold;
  }

  .intro span {
    font-size: 0.8em
  }

  /* circles */
  #circles {
    height: 100%;
    position: fixed;
  }

  rect.timespan {
    fill: rgba(255,255,255,0.2);
  }

  #tooltip {
    position: fixed;
    padding: 2px 5px;
    overflow: hidden;
    max-width: 250px;
    line-height: 1.1em;
    opacity: 0;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  }

  .years text {
    fill: #F4F4F4;
    font-size: .7em;
    text-anchor: middle;
    cursor: pointer;
  }


  /*toggles*/
  .toggles {color: #F4F4F4;}
  .custom-control-label, .custom-control-label {cursor: pointer;}
  .custom-checkbox.local, .custom-checkbox.conflict  {margin-left: 5px;}
  .custom-control-label:before{background-color:black;}
  .custom-checkbox .custom-control-input:checked~.National.custom-control-label::before   {background-color: #B5B867;}
  .custom-checkbox .custom-control-input:checked~.Local.custom-control-label::before      {background-color: #A23961;}
  .custom-checkbox .custom-control-input:checked~.Political.custom-control-label::before  {background-color: #3E5A83;}
  .custom-checkbox .custom-control-input:checked~.Conflict.custom-control-label::before   {background-color: #AC5A1F;}

  /*boxes*/
  #boxes h4 {font-weight: 700}
  .inner {padding: 20px; border-top: 1px solid #181818;}
  .showDate {padding-left: 20px; margin-top: 100px; display: block;}
  .showDate.first {padding-left: 20px; margin-top: 0px; display: block;}
  .hideDate {margin-top: 0px; display: none;}
  a:link {color: white; text-decoration: underline}

  .National .inner  {background-color: #B5B867;}
  .Local .inner     {background-color: #A23961;}
  .Political .inner {background-color: #3E5A83;}
  .Conflict .inner  {background-color: #AC5A1F;}
  .stage {
    border-bottom: 1px dotted rgba(244,244,244,.4);
    padding: 0 20px 10px 20px;
    font-family: monospace;
    font-size: .9em;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left
  }

  .arabic .stage {
    background-position: right
  }
  p.stage.Ceasefire           {background-image: url("img/ceasefire.svg");}
  p.stage.Prenegotiation      {background-image: url("img/prenegotiation.svg");}
  p.stage.Substantive-Partial {background-image: url("img/substantive-partial.svg");}
  p.stage.Implementation      {background-image: url("img/implementation.svg");}